/* Media Queries */

@media (min-width: 769px){
    .main-header,
    .main-nav,
    .row {
        display: flex;
        align-content: center;
    }
    .row{
        flex-flow: row wrap;
        position: relative;
    }
    .main-header {
        flex-direction: column;
        align-items: center;
    }
    .col {
        flex: 2;
        align-content: center;
        
    }
}

@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .col{
        flex-basis: 0;
    }

    .primary {
        flex-grow: 0;
        flex: 2;
    }
}